#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --theme-color: orange;
  --theme-accent: rgb(255, 153, 0);
}

nav {
  background-color: var(--theme-color);
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
}

.nav-left {
  grid-row: 0;
  display: flex;
  align-items: center;
}

.nav-left h2 {
  padding-left: 20px;
}

.nav-right {
  grid-row: 0;
  display: flex;
  align-items: center;
}

#login-area {
  aspect-ratio: 1/1;
  margin-left: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

#login-button {
  background-color: rgb(237, 237, 237);;
  width: fit-content;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 5em;;
}

.two-parts {
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 15px;
}

#sidebar {
  margin: 15px 0;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 3px 3px rgb(218, 218, 218);
  color: black;
  margin-right: 10px;
}

#item-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.card {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 3px 3px rgb(218, 218, 218);
  color: black;
  /*width: fit-content;*/
}

.top-half {
  padding-top: 0px;
  padding-bottom: 20px;
}

.bottom-half {
  background-color: inherit;
}

.item-image {
  height: 200px;
}

.category {
  color: var(--theme-color);
  font-weight: 500;
  font-size: small;
  text-align: left;
  margin-bottom: 12px;
}

.name {
  font-weight: 700;
  font-size: large;
  text-align: left;
  margin: 5px 0px;
}

.condition {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  color: black;
  width: fit-content;
  padding: 5px;
  font-size: small;
  text-align: left;
  margin-bottom: 10px;
}

.pricing-info {
  display:grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
}

#hr-01 {
  border: 1px solid rgb(237, 237, 237);
}

.left {
  grid-row: 0;
  text-align: left;
}

.right {
  grid-row: 0;
  text-align: right;
}

.reserve-button, .cart-button {
  padding: 10px;
  border: none;
  border-radius: 0.75em;
  margin: 5px;
  font-weight: 700;
  text-align: center;
}

.reserve-button {
  background-color: var(--theme-color);
}

.cart-button {
  background-color: gray;
}

.reserve-button:hover {
  background-color: var(--theme-accent);
}

.cart-button:hover {
  background-color: rgb(106, 106, 106);
}