#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --theme-color: orange;
}

#content {
  padding: 15px;
  display: grid;
}

.card {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 3px 3px rgb(218, 218, 218);
  color: black;
  width: fit-content;
}

.top-half {
  padding-top: 0px;
  padding-bottom: 20px;
}

.bottom-half {
  background-color: inherit;
}

.item-image {
  width: 200px;
}

.category {
  color: var(--theme-color);
  font-weight: 500;
  font-size: small;
  text-align: left;
  margin-bottom: 12px;
}

.name {
  font-weight: 700;
  font-size: large;
  text-align: left;
  margin: 5px;
}

.condition {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  color: black;
  width: fit-content;
  padding: 5px;
  font-size: small;
  text-align: left;
  margin-bottom: 10px;
}

.pricing-info {
  display:grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
}

#hr-01 {
  border: 1px solid rgb(237, 237, 237);
}

.left {
  grid-row: 0;
  text-align: left;
}

.right {
  grid-row: 0;
  text-align: right;
}

.reserve-button {
  background-color: var(--theme-color);
  padding: 10px;
  border: none;
  border-radius: 0.75em;
  margin: 5px;
  font-weight: 700;
  text-align: center;
}

.cart-button {
  background-color: gray;
  padding: 10px;
  border: none;
  border-radius: 0.75em;
  margin: 5px;
  font-weight: 700;
  text-align: center;
}