#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#nav {
  justify-content: space-between;
  background-color:#059CFB;
  box-shadow: 0px 4px #0785d4;
  padding: 1rem;
  top: 0;
  left: 0;
}

#content {
  flex: 1;
  padding-top: 10px;
}

.card {
  background-color: rgb(228, 46, 46);
  padding: .25rem;
}