/* CSS Styling for Login page. */

body {
    justify-content: center;
    background-color: blue;
    
}

.login-label {
    justify-content: center;
    background-color: lightgray;
    width:180px;
    margin: 0 auto;
    border: 10px solid white;
    border-radius: 20px;
}
/*
.nav-left {
    width:500px;
}
*/

#username-input > input, #password-input > input {
    background-color: white;
    border: 1px solid black;
}

#login-input { 
    margin: 0 auto;
    padding: 2em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 3px 3px rgb(218, 218, 218);
    color: black;
    width: 300px;
    height: 150px;
}

#register-account {
    justify-content: center;
    background-color: lightgray;
    width:300px;
    margin: 0 auto;
    border-radius: 20px;
}

#login-button { /* Resets to default styling for login button. */
    all: unset;
}

/* Hard-Coded Styling (To fix client-side light/dark mode issues): */

#username-input > input, #password-input > input{
    background-color: white;
    border: 1px solid black;
    color: black;
}

#login-h1 {
    color:black;
}

#sign-up-text {
    color: black;
}

#sign-up-link {
    font-weight: bold;
}